# Copy this to .env and fill in your Supabase values
SUPABASE_URL=https://hfdbzawhmpcduyrkmagf.supabase.co
SUPABASE_ANON_KEY=sb_publishable_7kUNvaQQlJvttpGLbgQkgQ_iZSmGK4M
FRONTEND_URL=https://personal-website-finals-16yn-jy3ff9epp-ranzels-projects.vercel.app
PORT=3000
